.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.search-inner {
  display: flex;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid grey
}

.dropdown-empty {
  border: none;

}
.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 250px;
}